@font-face {font-family:"Cursed Timer ULiL";src:url("CursedTimerULiL.eot?") format("eot"),url("CursedTimerULiL.woff") format("woff"),url("CursedTimerULiL.ttf") format("truetype"),url("CursedTimerULiL.svg#CursedTimerULiL") format("svg");font-weight:normal;font-style:normal;}

body {
    margin: 0;
    text-align: center;
}

.container {
    color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    padding: 20px;
}

.title {
    font-family: "Verdana";
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    color: #EEEEEE;
}

.score {
    font-family: "Cursed Timer ULiL";
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 0;
}


.btn {
    border: 2px solid #9AABD8;
    font-family: "Cursed Timer ULiL";
    background: #1B244A;
    color: #9AABD8;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 2px 40px;
}